body{
  margin: 1%;
  background-color: #02010A;
}
.contenedor{
  width: 900px;
  margin: 0 auto;
  padding: 1%;
  flex-flow: column wrap;
}
#cabecera{
  background-color: #5B7989;
  padding: 2%;
  border-radius: 10px 10px 0 0;
  }
  a{
  font-family: 'Dancing Script';
  color: black;
  padding: 1%;
}
.principal{
  text-align: center;
  padding: 2%;
  background-color: #82C3A6;
 }
 .secundario{
   padding: 0.5%;
   background-color: #D5C75F;
   font-family: 'Dancing Script';
   font-color: black;
   text-align: center;
 }
 .secundario div h2{
   text-align: center;
   margin: 0;
 }
 #piepagina{
  background-color: #C6D5C5;
  border-radius: 0 0 10px 10px;
  padding: 1%;
  font-family: 'Dancing Script';
  color: black;
  font-size: 14pt;
  display: flex;
}
.cabecera> h1{
  font-family: 'Dancing Script';
  color: white;
  text-shadow:  2px 2px 0 #02010A;
}
.link> a{
  font-family: 'Dancing Script';
  font-size: 16pt;
  font-weight: lighter;
  color: white !important;
  margin: auto;
  display: inline-block;
  text-decoration: none;
  padding: 2%;
}
.link> ins> a{
  font-family: 'Dancing Script';
  font-size: 16pt;
  font-weight:lighter;
  color: white !important;
  margin: auto;
  display: inline-block;
  padding: 2%;
}
.galeria{
  padding: 3%;
  background-color: #D5C75F;
  border: solid 1px purple;
}
img{
  box-shadow: 2px 2px #02010A;
}
#piepagina> div> h2, h3{
  text-align: justify;
  vertical-align: baseline;
}
.redes> a> img{
  width: 17%;
  border: none;
  box-shadow: none;
}
.redes> a> img, h3{
  text-align: justify;
  display: inline-block;
}
.term{
  font: 'arial';
  font-size: 12pt;
  font-weight:lighter;
  background-color: white;
  color: red !important;
  text-align: justify;
}
#gal1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
#gal2, #gal4, #gal6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#gal3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
#ret1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
#ret2, #ret4, #ret6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#ret3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

/*------RESPONSIVE MOVIL-----------*/
@media all and (max-width:899px){
  .contenedor{
    width: 80%;
  }
  #cabecera > .cabecera, .link{
    display: block;
}
  #cabecera> .cabecera, h1{
    text-align: center;
  }
   .link{
    text-align: center;
    margin: 2%;
  }
  #princi{
    width: 90%;
}
 #paisajes, #retratos{
      width: 90%;
    }
  .secundario{
    padding-top: 7%;
  }
  .principal{
    width: 96%;
    order: 1;
    padding-top: 4%;
  }
  .paisajes{
    width: 100%;
    order: 2;
  }
  .retratos{
    width: 100%;
    order: 3;
  }
  #piepagina{
    order: 4;
    display: block;
  }
  #piepagina> div> h2, h3, p{
      text-align: center;
      margin: 0;
  }
  .social> a> img, h3{
    display: inline-block;
    vertical-align: middle;
  }
  .contacto{
    width: 90%;
    order:1;
    margin: 2%;
    text-align: center;
  }
  .terminos{
    width: 90%;
    order:2;
    text-align: center;
  }
  .redes{
    width: 90%;
    order:3;
    text-align: center;
  }
  .derechos{
    width: 90%;
    order:4;
    text-align: center;
  }
  .redes> a> img{
    display: block;
    padding-left: 45%;
  }
  .social> a> img{
    width: 7%;
    border: none;
    box-shadow: none;
  }
  .galeria{
    padding: 2%;
    text-align: center;
    flex: auto;
  }
  .galeria> img{
    width: 90%;
    margin: 2%;
  }
}

/*----FIN--RESPONSIVE MOVIL-----------*/

/*-----RESPONSIVE---DESKTOP-----------*/
@media (min-width:900px){
  #cabecera> .cabecera, .link{
    display: inline-block;
    width: 410px;
  }
  .link{
    text-align: right;
  }
  #princi{
    width: 85%;
  }
   #paisajes, #retratos{
      width: 100%;
    }
  .principal{
      padding-top: 2%;
    }
  .secundario{
      padding-top: 2%;
      display: flex;
    }
  .paisajes, .retratos{
      display: flex;
      flex-direction: row;
      padding: 2%;
    }
  .paisajes{
      width: 45%;
    }
  .retratos{
      width: 45%;
    }
  #piepagina>  .contacto, .terminos, .redes, .derechos{
      display: inline-block;
      margin: 1%;
      padding: 1%;
      width: auto;
    }
    .social> a> img{
      width: 15%;
      border: none;
      box-shadow: none;
    }
    .social> a> img, h3{
      display: inline-block;
      vertical-align: middle;
    }
    #piepagina> div> h2, h3, p{
      margin: 0;
    }
    .galeria{
      padding: 2%;

    }
    .galeria> img{
      width: 28%;
      margin: 2.4%;
    }
}

/*-----FIN -DESKTOP-----------*/

/*----- ANIMACIONES---------- */

#paisajes{
  transition-property: transform:rotate(10deg);
  transition-duration: 1.5s;
  text-align: center;
}
#paisajes:hover{
  transform: rotate(10deg);
  box-shadow: 3px 3px #82C3A6;
}

#retratos{
  transition-property: transform: translate(20px , -5px);
  transition-duration: 1.5s;
  text-align: center;
}
#retratos:hover{
  transform: translate(20px , -5px);
  box-shadow: 3px 3px #82C3A6;
}
#cabecera{
	animation: slide 1s;
}
@keyframes slide{
	0%{
		margin-top: 160%;
  }
	60%{
		margin-top: -5%;
  }
	100%{
		margin-top: 0%;
	}
}
/*-----FIN  ANIMACIONES---------- */
