body{
  margin: 1%;
  background-color: #02010A;
}
#cabecera{
  background-color: #5B7989;
  display: flex;
  padding: 2%;
  border: solid purple 1px;
  border-radius: 10px 10px 0 0;
}
a{
  font-family: 'Dancing Script';
  color: black;
}
.principal{
  text-align: center;
  padding: 3%;
  background-color: #82C3A6;
}
.secundario{
  padding: 3%;
  background-color: #D5C75F;
  border: solid 1px purple;
  font-family: 'Dancing Script';
  font-color: black;
}
.secundario div h2{
  text-align: center;
}
.piepagina{
  background-color: #C6D5C5;
  border-radius: 0 0 10px 10px;
  font-family: 'Dancing Script';
  color: black;
  font-size: 14pt;
}
.cabecera> h1{
  font-family: 'Dancing Script';
  text-align: left;
  color: white;
  text-shadow: 2px 2px 20px #02010A;
}
.link> a{
  font-family: 'Dancing Script';
  font-size: 14pt;
  color: white !important;
  word-spacing: 10px;
}
.galeria{
  padding: 3%;
  background-color: #D5C75F;
  border: solid 1px purple;
}
img{
  border: solid 1px black;
  box-shadow: 1px 1px black;
}

#paisajes{
  transition-property: transform:rotate(10deg);
  transition-duration: 1.5s;
}
#paisajes:hover{
  transform: rotate(10deg);
  box-shadow: 3px 3px #82C3A6;
}

#retratos{
  transition-property: transform: translate(20px , -5px);
  transition-duration: 1.5s;
}
#retratos:hover{
  transform: translate(20px , -5px);
  box-shadow: 3px 3px #82C3A6;
}


/*----- ajustes generales hechos---------- */
/*----------------------------------------*/

/* TODO: generar el responsive primero para menor a 900px  */

@media (max-width:899px){
  .link{
    position: absolute;

}




@media (min-width:900px){
  .link{
    position: absolute;
    /*margin-top: 5%;
    margin-left: 65%;
    margin-right: : 3%;
    display: flex;*/
  }

}
